
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Gen122 | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body style="overflow: auto;">
            
  <nav class="transparent accent-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="left-align"><img src="images/logo.jpg" alt="Gen122 logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

            <section id="contact-cont" class="contact pdn" style="">
                <div class="row">
                    <div class="col l2">
                        <h4 class="color title" style="left: -1%;">Contact Us &nbsp; |</h4>
                    </div>
                    <div class="col l5 s12">
                        <h5 class="color">- GET IN TOUCH</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                        <div class="info">
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="row">
                                        <div class="col s2">
                                            <i class="material-icons">phonelink_ring</i>
                                        </div>
                                        <div class="col s10">
                                            <h6 class="color">Phone</h6>
                                            <span>+123 456 7899</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="row">
                                        <div class="col s2">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div class="col s10">
                                            <h6 class="color">Email</h6>
                                            <span>vanves@email.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m1 s2">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="col m11 s10 address">
                                    <h6 class="color">Address</h6>
                                    <span>123 Street Name, City Branford, 32008</span>
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col m6 s12">
                                            <i class="fa fa-user prefix"></i>
                                            <input id="icon_prefix" type="text" class="validate" required="">
                                            <label for="icon_prefix">Name</label>
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <i class="material-icons prefix">email</i>
                                            <input id="icon_email" type="email" class="validate" required="">
                                            <label for="icon_email">Email</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">message</i>
                                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                            <label for="icon_prefix2">Message</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="copyright hide-on-med-and-down">
                            <span>© Copyright 2017. All Right Reserved By Bouthaina</span>
                        </div>
                    </div>
                    <div class="col l5 s12 maps" id="overlay">
                        <div class="google-wrapper">
                            <div id="google-map"> <!-- Your Can Add Your Location Just Go To Google Map And Emped Map -->
                                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162778.81964475298!2d-73.93891815355539!3d40.703660465248056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1491335061565" class="scrolloff"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!-- End Contact -->
            
        </div>
            
        <!-- Start Box Setting -->

        <section class="setting hide-on-med-and-down">
            <div class="box-vis">
                <i class="fa fa-magic"></i>
            </div>
            <div class="box hidden">
                <div class="colors">
                    <a href="#" data-value="css/default-template.css"></a>
                    <a href="#" data-value="css/green-template.css"></a>
                    <a href="#" data-value="css/blue-template.css"></a>
                    <a href="#" data-value="css/purple-template.css"></a>
                    <a href="#" data-value="css/dark-temp.css"></a>
                </div>
                <div class="ld">
                    <a href="#" data-value="css/light-layout.css"><span>Light</span></a>
                    <a href="#" data-value="css/dark-layout.css"><span>Dark</span></a>
                </div>
            </div>
        </section>

        <!-- End Box Setting -->

        <!-- Start Loading -->
        
        
        
        <!-- End Loading -->
        
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/lightbox.js"></script>
        <script src="js/custom.js"></script>
    

<div style="text-align: center;"><div style="position:relative; top:0; margin-right:auto;margin-left:auto; z-index:99999">

</div></div>
<div class="hiddendiv common"></div><div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div><div id="lightbox" class="lightbox" style="display: none;"><div class="lb-outerContainer"><div class="lb-container"><img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="><div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div><div class="lb-loader"><a class="lb-cancel"></a></div></div></div><div class="lb-dataContainer"><div class="lb-data"><div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div><div class="lb-closeContainer"><a class="lb-close"></a></div></div></div></div><div class="drag-target" data-sidenav="mobile-demo" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div></body>