<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Gen122 | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <nav class="transparent" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="left-align"><img src="images/logo.jpg" alt="Gen122 logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn" href="index.html">Home</a></li>
        <li><a class="btn" href="services.html">Services</a></li>
        <li><a class="btn" href="about.html">About Us</a></li>
        <li><a class="btn" href="contact.html">Contact Us</a></li>
        <li><a class="btn" href="blog.html">Blog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 
  
  <div class="fullscreen slider ">
    <ul class="slides">
      <li>
        <img class="slide-img" src="images/slider1.jpg"> <!-- random image -->
        <div class="caption left-align">
          <br><br><br><br><h3>Need A Child care Staff?</h3>
          <h4 class="black-text text-lighten-4">We've got you covered;</h4>
          <h5 class="black-text text-lighten-5">Register to get world class AuPairs, Nanny and Mother's help working with you in no time</h5>
          <h5>Learn more about us <a href="about.html"><i>here</i></a></h5>
        </div>
      </li>
      <li>
        <img class="slide-img" src="images/slider3.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>Need a child care staff, or would you like to work with us as a Staff?</h3>
          <h5 class="light grey-text text-lighten-3">Register here and we'll contact you shortly</h5>
          <h5 class="waves-effect waves-light btn">Family registration</h5>
          <h5 class="waves-effect waves-light btn">Staff registration</h5>
        </div>m
      </li>
      <li>
        <img class="slide-img" src="images/slider2.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Need domestic staffs, or you would like to work as one...</h3>
          <h5 class="light grey-text text-lighten-3">Register with us and we'll contact you shortly</h5>
          <h5 class="waves-effect waves-light btn">Family registration</h5>
          <h5 class="waves-effect waves-light btn">Staff registration</h5>
        </div>
      </li>
    </ul>
  </div>

  <div class="footer-copyright">
      <div class="container">
      Made by <a class="red-text text-lighten-3" href="#">Hanstechnology</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

