<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Gen122 | Services</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <nav class="transparent" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="left-align"><img src="images/logo.jpg" alt="Gen122 logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn" href="index.html">Home</a></li>
        <li><a class="btn" href="services.html">Services</a></li>
        <li><a class="btn" href="about.html">About Us</a></li>
        <li><a class="btn" href="contact.html">Contact Us</a></li>
        <li><a class="btn" href="blog.html">Blog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


    <div class="row container">
    <div class="col s9 center-align"><h3>Our Services</h3>
      <div class="col s12 center-align"><h4>Child Care Staff</h4>
       <div class=" col s4 card hoverable small">
          <div class="card-image">
            <img src="images/Au pair.jpg">
            <span class="card-title black-text">Au Pairs</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of.</p>
          </div>
          <div class="card-action left-align">
            <a href="#">This is a link</a>
          </div>
        </div>

       <div class="col s4 card hoverable small">
          <div class="card-image">
            <img src="images/nanny.jpg">
            <span class="card-title black-text">Nanny</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of.</p>
          </div>
          <div class="card-action left-align">
            <a href="#">This is a link</a>
          </div>
        </div>

       <div class="col s4 card hoverable small">
          <div class="card-image">
            <img src="images/motherhelp.jpg">
            <span class="card-title black-text">Mother's help</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of.</p>
          </div>
          <div class="card-action left-align">
            <a href="#">This is a link</a>
          </div>
        </div>
       </div>

      <div class="col s12 center-align"><h4>Domestic Staff</h4>
        <div class="col s6 card hoverable small">
          <div class="card-image">
            <img src="images/cleaner.jpg">
            <span class="card-title black-text">Cleaner</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of.</p>
          </div>
          <div class="card-action left-align">
            <a href="#">This is a link</a>
          </div>
        </div>

       <div class="col s6 card hoverable small">
          <div class="card-image">
            <img src="images/cook.jpg">
            <span class="card-title black-text">Cook</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of.</p>
          </div>
          <div class="card-action left-align">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3 center-align"><h3>Vacancies</h3></div>
    <p>the vacancies will appear here after the backend work is completed</p>
    </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

 </body>
</html>