
.next-step, 
.btn-large {
  	background-color: #2196F3;
}
.previous-step {
	position: relative;
	left: -30px;
}

button:focus {
   outline: none;
   background-color: #2196F3;
}

.btn:hover, .btn-large:hover {
   background-color: #64b5f6;
}